* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #1f9a9480;
  overflow: hidden;
}
#color__can {
  position: absolute;
  width: 200px;
  height: 200px;
  /* overflow: hidden; */
  border: none;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  /* object-fit: cover; */
  /* border-radius: 50%; */
  /* transform: translate(50%, -50%); */
  cursor: pointer;
  /* margin-left: 50%;
  margin-top: 19%; */
}
.hidden {
  display: none;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  width: 80%;
  height: 100dvh;
  background-color: azure;
}
.canvas {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

.canvas canvas {
  width: 98%;
  height: 98%;
  border: 4px solid #181515;
  /* background-color: #1a1a1abc; */
}

.allBtn {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  background-color: #54d9fb3b;

  /* background-color: red; */
}
.btn__1 {
  width: 100px;
  height: 50px;
  /* background-color: #5c4747; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__1 button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #1e657d;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn__2 {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__2 input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  /* background-color: #1e657d; */
  background-color: #54d9fb3b;

  color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn__3 {
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn__3 #output {
  font-size: 1.5rem;
}
.btn__4 {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__4 button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #1e657d;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn__5 {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__5 button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #1e657d;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.onto {
  display: flex;
  width: 33.33%;
  /* background-color: antiquewhite; */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 2;
}
.thr {
  display: flex;
  width: 33.33%;
  /* background-color: antiquewhite; */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 2;
  padding: 0 8px 0 8px;
}

.fou-fiv {
  display: flex;
  width: 33.33%;
  /* background-color: antiquewhite; */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 2;
}

@media screen and (max-width: 600px) {
  .mainContent {
    width: 96%;
  }
  .allBtn {
    width: 97%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    overflow: scroll;

    padding: 15px 10px 15px 10px;
    gap: 10px;
  }
  .addBtn::-webkit-scrollbar {
    display: none;
  }
  .onto {
    width: 100%;
  }
  .thr {
    width: 100%;
  }
  .fou-fiv {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .mainContent {
    width: 97%;
  }
  .allBtn {
    width: 97%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    overflow: scroll;

    padding: 15px 10px 15px 10px;
    gap: 10px;
  }
  .addBtn::-webkit-scrollbar {
    display: none;
  }
  .onto {
    width: 100%;
  }
  .thr {
    width: 100%;
  }
  .fou-fiv {
    width: 100%;
  }
}
